.css-fix {
    white-space: pre-wrap;
  }

.search_input {
    width: 300px;
}

.search_dropdown {
    position: absolute;
    background-color: white;
    width: 300px;
} 

.deckname_input {
    margin-right: 10px;
}

.deckname_input_div {
    padding: 10px
}